backend/node_modules/
backend/.vercel/
frontend/node_modules/
frontend/.vercel/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
frontend/logs/

frontend/dist/
frontend/dist-ssr/
backend/dist/


.env
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tmp
*.cache
